/* Mini Reset */
* {
	box-sizing: border-box;
}

html,
body,
div,
form,
fieldset,
legend,
label {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td {
	text-align: left;
	vertical-align: top;
}

img {
	display: block;
	border: 0;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

p {
	margin: 0 0 1em;
}

/* poppins-300 - latin */
@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-300 - latin */
@font-face {
	font-display: swap;
	font-family: 'Archivo';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/archivo-v18-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* archivo-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Archivo';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/archivo-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* archivo-600 - latin */
@font-face {
	font-display: swap;
	font-family: 'Archivo';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/archivo-v18-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* archivo-900 - latin */
@font-face {
	font-display: swap;
	font-family: 'Archivo';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/archivo-v18-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(#000, 0.01) 0 0 1px;
	font-size: 16px;
}

body {
	background-image: url('../images/bgdropgame.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.44;
	overflow-x: hidden;
	overflow-y: scroll;
	word-wrap: break-word;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 2rem;
}

.content .inner-wrapper {
	min-height: calc(100vh - 150px);
	position: relative;
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}

.section {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(0);
	opacity: 0;
	transition: opacity 0.5s ease, transform 0.5s ease;
	z-index: 1;
}

section.active {
	opacity: 1;
	transform: translateY(-50%);
	z-index: 2;
}

section.fade-out {
	opacity: 0;
}

section.slide-up {
	transform: translateY(-50%);
}

.content .inner-wrapper section .section-inner-wrapper {
	max-width: 700px;
	width: 100%;
}

.content .section .headline {
	font-size: 1.4375rem;
	font-family: "Archivo", "Helvetica Neue", Arial, sans-serif;
	font-weight: 700;
	line-height: 1.2;
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 .9375rem 0;
}

.content .section .headline__main {
	font-size: 90px;
	font-family: "Archivo", "Helvetica Neue", Arial, sans-serif;
	font-weight: 900;
	line-height: 0.9;
	color: #ffeab3;
	text-transform: uppercase;
	margin: 0 0 1.25rem 0;
}

.content .section .desc {
	margin-bottom: 2.5rem;
}

.content .section .desc p {
	font-size: 1.0625rem;
	color: #fff;
	line-height: 1.5;
}

.content .section .start-game-action button {
	font-size: 1rem;
	text-transform: uppercase;
	padding: 1rem 2.1875rem;
	background-color: transparent;
	color: #f76a71;
	border: 2px solid #f76a71;
	border-radius: 45px;
	cursor: pointer;
	transition: all .25s ease-out;
}

.content .section .start-game-action button:hover {
	color: #fff;
	background-color: #f76a71;
	transform: scale(1.1);
}

.content .section .start-game-action.spin button {
	margin-top: 30px;
}

.wheel-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
